.logo{
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(to top, #2851A3, #1877F2, #77A7FF);
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 40px;
    padding: 4px 10px;
}