.sign-in-form {

    .forgot-pass {
        align-self: center;
    }

    .sign-in-hr {
        width: 364px;
    }

    .sign-up-btn {
        background-color: #42b72a;
        width: fit-content;
        font-size: 17px;
    }

    .sign-up-btn:hover {
        background-color: #3ca527;
    }
}